/* 作成ボタン */
.btn-create-custom {
    background-color: rgba(0, 123, 255, 0.1);
    color: rgba(0, 113, 245, 0.8);
    border: 1px solid rgba(0, 123, 255, 0.5);
    font-weight: bold;
    }

.btn-create-custom:hover,
.btn-create-custom:focus {
    background-color: rgba(0, 123, 255, 0.4)!important;
    color: rgba(0, 123, 255, 1) !important;
    border: 1px solid rgba(0, 123, 255, 0.7) !important;
    }

.btn-create-custom:active {
    background-color: rgba(0, 123, 255, 0.6)!important;
    color: rgba(0, 123, 255, 1) !important;
    border: 1px solid rgba(0, 123, 255, 0.9) !important;
    }

/* 登録ボタン */
.btn-register-custom {
    background-color: rgba(0, 123, 255, 0.1);
    color: rgba(0, 113, 245, 0.8);
    border: 1px solid rgba(0, 123, 255, 0.5);
    font-weight: bold;
    width: 150px; /* ボタンの幅を設定 */
    margin: 0 auto; display: block;
    }

.btn-register-custom:hover,
.btn-register-custom:focus {
    background-color: rgba(0, 123, 255, 0.4)!important;
    color: rgba(0, 123, 255, 1) !important;
    border: 1px solid rgba(0, 123, 255, 0.7) !important;
    width: 150px; /* ボタンの幅を設定 */
    margin: 0 auto; display: block;
    }

.btn-register-custom:active {
    background-color: rgba(0, 123, 255, 0.6)!important;
    color: rgba(0, 123, 255, 1) !important;
    border: 1px solid rgba(0, 123, 255, 0.9) !important;
    width: 150px; /* ボタンの幅を設定 */
    margin: 0 auto; display: block;
    }



/* 詳細ボタン */
.btn-detail-custom {
    background-color: rgba(0, 200, 100, 0.1);
    color: rgba(0, 170, 70, 0.8);
    border: 1px solid rgba(0, 200, 100, 0.5);
    font-weight: bold;
    }

.btn-detail-custom:hover,
.btn-detail-custom:focus {
    background-color: rgba(0, 200, 100, 0.4) !important;
    color: rgba(0, 200, 100, 1.0) !important;
    border: 1px solid rgba(0, 200, 100, 0.7) !important;
    }

.btn-detail-custom:active {
    background-color: rgba(0, 200, 100, 0.6) !important;
    color: rgba(0, 200, 100, 1.0) !important;
    border: 1px solid rgba(0, 200, 100, 0.9) !important;
    }

/* 戻るボタン */
.btn-return-custom {
    background-color: rgba(255, 255, 255, 0.7);
    color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(171, 171, 171, 1);
    font-weight: bold;
    }

.btn-return-custom:hover,
.btn-return-custom:focus {
    background-color: rgba(180, 180, 180, 0.6);
    color: rgba(0, 0, 0, 1);
    border: 1px solid rgba(181, 181, 181, 0.8);
    font-weight: bold;
    }

.btn-return-custom:active {
    background-color: rgba(150, 150, 150, 0.8) !important;
    color: rgba(0, 0, 0, 1) !important;
    border: 1px solid rgba(181, 181, 181, 1) !important;
    font-weight: bold;
    }

/* 編集ボタン */
.btn-edit-custom {
    background-color: rgba(255, 165, 0, 0.1);
    color: rgba(195, 105, 0, 0.8);
    border: 1px solid rgba(215, 125, 0, 0.5);
    font-weight: bold;
    }

.btn-edit-custom:hover,
.btn-edit-custom:focus {
    background-color: rgba(255, 165, 0, 0.4);
    color: rgba(225, 135, 0, 1);
    border: 1px solid rgba(255, 165, 0, 0.7);
    font-weight: bold;
    }

.btn-edit-custom:active {
    background-color: rgba(255, 165, 0, 0.6) !important;
    color: rgba(225, 135, 0, 1) !important;
    border: 1px solid rgba(255, 165, 0, 0.7) !important;
    font-weight: bold;
    }

/* 削除ボタン */
.btn-delete-custom {
    background-color: rgba(255, 99, 71, 0.1);
    color: rgba(205, 49, 31, 0.8);
    border: 1px solid rgba(255, 99, 71, 0.5);
    font-weight: bold;
    }

.btn-delete-custom:hover,
.btn-delete-custom:focus {
    background-color: rgba(255, 99, 71, 0.4);
    color: rgba(255, 99, 71, 1);
    border: 1px solid rgba(255, 99, 71, 0.7);
    font-weight: bold;
    }

.btn-delete-custom:active {
    background-color: rgba(255, 99, 71, 0.6) !important;
    color: rgba(255, 99, 71, 1) !important;
    border: 1px solid rgba(255, 99, 71, 0.7) !important;
    font-weight: bold;
    }

/* コメント追加ボタン */
.btn-comment-custom {
    background-color: rgba(173, 216, 230, 0.2);
    color: rgba(33, 76, 90, 0.8);
    border: 1px solid rgba(113, 156, 170, 0.7);
    font-weight: bold;
    }

.btn-comment-custom:hover,
.btn-comment-custom:focus {
    background-color: rgba(143, 186, 200, 0.5);
    color: rgba(83, 126, 140, 1);
    border: 1px solid rgba(153, 196, 210, 0.7);
    font-weight: bold;
    }

.btn-comment-custom:active {
    background-color: rgba(173, 216, 230, 0.7) !important;
    color: rgba(83, 126, 140, 1) !important;
    border: 1px solid rgba(153, 196, 210, 0.9) !important;
    font-weight: bold;
    }

/* Closeボタン */
.btn-close-custom {
    background-color: rgba(71, 71, 71, 0.1);
    color: rgba(40, 40, 40, 0.9);
    border: 1px solid rgba(181, 181, 181, 0.8);
    font-weight: bold;
    }

.btn-close-custom:hover,
.btn-close-custom:focus {
    background-color: rgba(71, 71, 71, 0.5);
    color: rgba(0, 0, 0, 1);
    border: 1px solid rgba(181, 181, 181, 0.7);
    font-weight: bold;
    }

.btn-close-custom:active {
    background-color: rgba(71, 71, 71, 0.8) !important;
    color: rgba(0, 0, 0, 1) !important;
    border: 1px solid rgba(181, 181, 181, 0.7) !important;
    font-weight: bold;
    }

/* 保存ボタン */
.btn-save-custom {
    background-color: rgba(255, 165, 0, 0.2); /* 薄いオレンジ色の背景 */
    color: rgba(255, 69, 0, 1); /* オレンジレッドの文字 */
    border: 1px solid rgba(255, 69, 0, 1); /* オレンジレッドの枠線 */
    font-weight: bold;
}

.btn-save-custom:hover,
.btn-save-custom:focus {
    background-color: rgba(255, 140, 0, 0.7); /* 濃いオレンジ色の背景 */
    color: rgba(255, 69, 0, 1); /* オレンジレッドの文字 */
    border: 1px solid rgba(255, 69, 0, 1); /* オレンジレッドの枠線 */
    font-weight: bold;
}

.btn-save-custom:active {
    background-color: rgba(255, 69, 0, 1) !important; /* オレンジレッドの背景 */
    color: rgba(255, 255, 255, 1) !important; /* 白色の文字 */
    border: 1px solid rgba(255, 69, 0, 1) !important; /* オレンジレッドの枠線 */
    font-weight: bold;
}


/* 保存ボタン大 */
.btn-save-custom-lg {
    background-color: rgba(255, 165, 0, 0.2); /* 薄いオレンジ色の背景 */
    color: rgba(255, 69, 0, 1); /* オレンジレッドの文字 */
    border: 1px solid rgba(255, 69, 0, 1); /* オレンジレッドの枠線 */
    font-weight: bold;
    width: 150px; /* ボタンの幅を設定 */
    margin: 0 auto; 
    display: block;
}

.btn-save-custom-lg:hover,
.btn-save-custom-lg:focus {
    background-color: rgba(255, 140, 0, 0.7); /* 濃いオレンジ色の背景 */
    color: rgba(255, 69, 0, 1); /* オレンジレッドの文字 */
    border: 1px solid rgba(255, 69, 0, 1); /* オレンジレッドの枠線 */
    font-weight: bold;
    width: 150px; /* ボタンの幅を設定 */
    margin: 0 auto; 
    display: block;
}

.btn-save-custom-lg:active {
    background-color: rgba(255, 69, 0, 1) !important; /* オレンジレッドの背景 */
    color: rgba(255, 255, 255, 1) !important; /* 白色の文字 */
    border: 1px solid rgba(255, 69, 0, 1) !important; /* オレンジレッドの枠線 */
    font-weight: bold;
    width: 150px; /* ボタンの幅を設定 */
    margin: 0 auto; 
    display: block;
}


.custom-margin-approve {
    margin: 1rem;
    }

/* 承認・否認ボタン_モーダル */
.btn-approve-custom-modal {
    background-color: rgba(102, 205, 102, 0.8); /* 少し暗い緑色の背景色 */
    color: white; /* テキスト色を白に設定 */
    border: none; /* ボーダーをなしに設定 */
    border-radius: 50%; /* ボタンを丸くする */
    padding: 15px 20px; /* ボタンの内側の余白を設定 */
    font-size: 1rem; /* フォントサイズを設定 */
    font-weight: bold; /* 文字を太くする */
    cursor: pointer; /* カーソルをポインターに設定 */
    transition: background-color 0.3s; /* 背景色の変化にトランジションを追加 */
    margin-right: 15px;
    }
.btn-approve-custom-modal:hover {
    background-color: rgba(34, 139, 34, 1); /* ホバー時に濃い緑色に変更 */
    }

.btn-disapprove-custom-modal {
    background-color: rgba(255, 99, 71, 0.8); /* トマト色の背景色 */
    color: white; /* テキスト色を白に設定 */
    border: none; /* ボーダーをなしに設定 */
    border-radius: 50%; /* ボタンを丸くする */
    padding: 15px 20px; /* ボタンの内側の余白を設定 */
    font-size: 1rem; /* フォントサイズを設定 */
    font-weight: bold; /* 文字を太くする */
    cursor: pointer; /* カーソルをポインターに設定 */
    transition: background-color 0.3s; /* 背景色の変化にトランジションを追加 */
    margin-right: 15px;
}

.btn-disapprove-custom-modal:hover {
    background-color: rgba(220, 20, 60, 1); /* ホバー時にクリムゾン色に変更 */
}


.btn-spacing {
    margin-right: 0.5rem;
}

/* 承認否認ボタン */
.btn-approve-custom {
    background-color: rgba(144, 238, 255, 0.2);
    color: rgba(34, 139, 180, 0.8);
    border: 1px solid rgba(34, 139, 180, 0.8);
    font-weight: bold;
    }

.btn-approve-custom:hover,
.btn-approve-custom:focus {
    background-color: rgba(144, 238, 255, 0.5);
    color: rgba(34, 139, 180, 0.8);
    border: 1px solid rgba(34, 139, 180, 0.8);
    font-weight: bold;
    }

.btn-approve-custom:active {
    background-color: rgba(144, 238, 255, 1) !important;
    color: rgba(34, 139, 180, 0.8) !important;
    border: 1px solid rgba(34, 139, 180, 0.8) !important;
    font-weight: bold;
    }
    
/* 出力ボタン */
.btn-export-custom {
    background-color: rgba(144, 238, 144, 0.2); /* 薄緑色の背景 */
    color: rgba(34, 139, 34, 0.8); /* 緑色の文字 */
    border: 1px solid rgba(34, 139, 34, 0.8); /* 緑色の枠線 */
    font-weight: bold;
}

.btn-export-custom:hover,
.btn-export-custom:focus {
    background-color: rgba(144, 238, 144, 0.5); /* 背景色が濃くなる */
    color: rgba(34, 139, 34, 0.8); /* 緑色の文字 */
    border: 1px solid rgba(34, 139, 34, 0.8); /* 緑色の枠線 */
    font-weight: bold;
}

.btn-export-custom:active {
    background-color: rgba(144, 238, 144, 1) !important; /* さらに濃くなる */
    color: rgba(34, 139, 34, 0.8) !important; /* 緑色の文字 */
    border: 1px solid rgba(34, 139, 34, 0.8) !important; /* 緑色の枠線 */
    font-weight: bold;
}

/* カードたち */
.card-green {
    background-color: rgba(144, 238, 144, 0.2); /* 薄い緑色の背景色 */
    color: rgba(34, 139, 34, 0.8); /* 濃い緑色の文字色 */
    font-weight: bold;
}

.card-yellow {
    background-color: rgba(255, 255, 224, 0.3); /* 薄い黄色の背景色 */
    color: rgba(218, 165, 32, 0.8); /* ゴールデンロッドの文字色 */
    font-weight: bold;
}

.card-blue {
    background-color: rgba(173, 216, 230, 0.3); /* 薄い青色の背景色 */
    color: rgba(70, 130, 180, 0.8); /* スチールブルーの文字色 */
    font-weight: bold;
}

.card-pink {
    background-color: rgba(255, 182, 193, 0.3); /* 薄いピンク色の背景色 */
    color: rgba(255, 105, 180, 0.8); /* ホットピンクの文字色 */
    font-weight: bold;
}

.card-body-custom {
    font-weight: bold;
}

/* ログインボタン */
.btn-login-custom {
    background-color: rgba(233, 255, 255, 1); /* 薄い青色の背景色 */
    color: rgba(0, 0, 139, 0.8); /* ダークブルーのテキスト色 */
    border: 1px solid rgba(130, 130, 199, 0.7); /* ダークブルーのボーダー色 */
    font-weight: bold;
    border-radius: 50px; /* ボタンを丸くする */
    padding: 10px 90px; /* ボタンを横に長くする */
}

.btn-login-custom:hover,
.btn-login-custom:focus {
    background-color: rgba(135, 206, 250, 0.8); /* スカイブルーの背景色 */
    color: rgba(255, 255, 255, 0.8); /* 白色のテキスト色 */
    border: 1px solid rgba(130, 130, 199, 0.8); /* ダークブルーのボーダー色 */
    font-weight: bold;
}

.btn-login-custom:active {
    background-color: rgba(85, 156, 200, 1) !important; /* ダークブルーの背景色 */
    color: rgba(255, 255, 255, 1) !important; /* 白色のテキスト色 */
    border: 1px solid rgba(130, 130, 199, 1) !important; /* ダークブルーのボーダー色 */
    font-weight: bold;
}



/* ログアウトボタン */
.btn-logout-custom {
    background-color: rgba(250, 250, 250, 1); /* 薄い青色の背景色 */
    color: rgba(0, 0, 139, 0.8); /* ダークブルーのテキスト色 */
    border: 1px solid rgba(0, 0, 139, 0.8); /* ダークブルーのボーダー色 */
    font-weight: bold;
    border-radius: 50px; /* ボタンを丸くする */
    padding: 10px 30px; /* ボタンを横に長くする */
}

.btn-logout-custom:hover,
.btn-logout-custom:focus {
    background-color: rgba(183, 185, 185, 1); /* 薄い青色の背景色 */
    color: rgba(0, 0, 139, 0.8); /* ダークブルーのテキスト色 */
    border: 1px solid rgba(0, 0, 139, 0.8); /* ダークブルーのボーダー色 */
    font-weight: bold;
    border-radius: 50px; /* ボタンを丸くする */
    padding: 10px 30px; /* ボタンを横に長くする */
}

.btn-logout-custom:active {
    background-color: rgba(143, 145, 145, 1) !important; /* 薄い青色の背景色 */
    color: rgba(0, 0, 139, 0.8) !important; /* ダークブルーのテキスト色 */
    border: 1px solid rgba(0, 0, 139, 0.8) !important; /* ダークブルーのボーダー色 */
    font-weight: bold;
    border-radius: 50px; /* ボタンを丸くする */
    padding: 10px 30px; /* ボタンを横に長くする */
}

