<!DOCTYPE html>
<html class="h-100" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: head_fragment(title=プロフィール画面)"></head>

<body class="h-100 overflow-auto bg-light">
    <div class="row h-100">
        <div class=" text-white col-4 col-xs-2 col-md-3 col-xl-2">
            <div class="position-fixed h-100 bg-dark">
                <div class="m-4">
                    <nav th:replace="common/side :: copy"></nav>
                </div>
            </div>
        </div>

        <div class="mt-3 h-100 col-8 col-xs-10 col-md-9 col-xl-10">
            <!-- コンテンツ -->
            <div class="container-fluid p-0">
                <h1 class="h3 mb-4" th:text="${employee.lastName} + ' ' + ${employee.firstName} + ' さん' + ' プロフィール'">
                </h1>
            </div>

            <p class="mb-3">
                <a th:href="@{/employees}" class="btn btn-return-custom">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="18" fill="currentColor"
                        class="bi bi-arrow-return-left" viewBox="1 0 16 17">
                        <path fill-rule="evenodd"
                            d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z" />
                    </svg>
                    戻る
                </a>
            </p>

            <div class="col-12 col-xxl-11">

                <div class="col-xl-11">
                    <div class="mb-3">
                        <div class="card">
                            <div class="card-header card-green">
                                パスワード・所属のみ変更できます
                            </div>
                            <div class="card-body card-body-custom">
                                <form th:action="@{/employees/update}" th:object="${employee}" th:method="post">
                                    <div class="wizard wizard-success">
                                        <div class="mb-3">
                                            <label class="form-label" for="code">社員番号</label>
                                            <p class="mb-1"></p>
                                            <div class="col-md-3">
                                                <input class="form-control" type="text" th:field="*{code}"
                                                    th:errorclass="err" id="code" readonly>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-4">
                                                <label class="form-label" for="lastName">姓</label>
                                                <p class="mb-1"></p>
                                                <input class="form-control" type="text" th:field="*{lastName}"
                                                    th:errorclass="err" id="lastName" readonly>
                                                <span th:errors="*{lastName}" class="text-danger"></span>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="form-label" for="firstName">名</label>
                                                <p class="mb-1"></p>
                                                <input class="form-control" type="text" th:field="*{firstName}"
                                                    th:errorclass="err" id="name" readonly>
                                                <span th:errors="*{firstName}" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="mb-3">
                                                <label for="email" class="form-label">メールアドレス</label>
                                                <p class="mb-1"></p>
                                                <input class="form-control" type="email" th:field="*{email}"
                                                    th:errorclass="err" id="email" placeholder="name9999@ssk-kan.co.jp">
                                                <span th:errors="*{email}" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label" for="password">パスワード</label>
                                            <p class="mb-1"></p>
                                            <div class="col-md-4">
                                                <div class="input-group ">
                                                    <input class="form-control" type="password" th:field="*{password}"
                                                        th:errorclass="err" id="password">
                                                    <span class="input-group-text">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                            fill="currentColor" class="bi bi-eye-slash"
                                                            viewBox="0 0 16 16" id="buttonEyeSlash"
                                                            onclick="pushHideButton()">
                                                            <path
                                                                d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z" />
                                                            <path
                                                                d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z" />
                                                            <path
                                                                d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z" />
                                                        </svg>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                            fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16"
                                                            id="buttonEye" onclick="pushHideButton()"
                                                            style="display: none;">
                                                            <path
                                                                d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                                            <path
                                                                d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                                                        </svg>
                                                    </span>
                                                    <script type="text/javascript" src="/js/passwordEye.js"></script>
                                                </div>
                                                <div id="passwordHelpBlock" class="form-text">
                                                    パスワードは更新する場合のみ入力してください
                                                </div>
                                                <span th:if="${passwordError} neq null" th:text="${passwordError}"
                                                    class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label" for="department">所属</label>
                                            <div class="col-md-4">
                                                <select class="form-select" id="department" th:field="*{department.id}"
                                                    th:if="${departmentList != null}">
                                                    <option th:each="department : ${departmentList}"
                                                        th:value="${department.id}" th:text="${department.name}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label" for="role">権限</label>
                                            <p class="mb-1"></p>
                                            <div class="col-md-4">
                                                <select class="form-select" th:field="*{role}" id="role" disabled>
                                                    <option
                                                        th:each="item:${T(com.kagoshima.entity.Employee.Role).values()}"
                                                        th:value="${item}" th:text="${item.getValue}"
                                                        th:selected="*{role} == ${item}">
                                                </select>
                                            </div>
                                        </div>

                                        <p class="mt-4">
                                            <input type="submit" value="更新" class="btn btn-save-custom-lg">
                                        </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12 pb-5">
                    <div class="card">
                        <div class="card-header card-green">
                            <h5 th:text="${employee.lastName} + ' ' + ${employee.firstName} + ' さんの報告書'">
                                </h4>
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <table id="myTable" class="table table-striped table-hover w-100">
                                    <thead>
                                        <tr>
                                            <th>氏名</th>
                                            <th>日付</th>
                                            <th>提出期日</th>
                                            <th>提出日</th>
                                            <th>所属</th>
                                            <th>完了</th>
                                            <th>承認</th>
                                            <th>コメント</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="report:${reportList}">
                                            <td class="align-middle"
                                                th:text="${report.employee.lastName} + ' ' + ${report.employee.firstName}">
                                            </td>
                                            <td class="align-middle"
                                                th:text="${#temporals.format(report.reportMonth, 'yyyy/MM')}">
                                            </td>
                                            <td class="align-middle"
                                                th:text="${#temporals.format(report.reportDeadline, 'yyyy/MM/dd')}">
                                            </td>
                                            <td class="align-middle" th:if="${report.submittedAt != null}"
                                                th:text="${#temporals.format(report.submittedAt, 'yyyy/MM/dd')}">
                                            </td>
                                            <td class="align-middle" th:if="${report.submittedAt == null}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="22"
                                                    fill="currentColor" class="bi bi-dash-lg" viewBox="-9 0 16 16">
                                                    <path fill-rule="evenodd"
                                                        d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z" />
                                                </svg>
                                            </td>
                                            <td class="align-middle" th:text="${report.employee.department.name}">
                                            </td>
                                            <td class="align-middle">
                                                <svg th:if="${report.completeFlg}" xmlns="http://www.w3.org/2000/svg"
                                                    width="32" height="24" fill="green" class="bi bi-check-circle-fill"
                                                    viewBox="0 0 16 16">
                                                    <path
                                                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                                </svg>
                                                <svg th:if="${!report.completeFlg}" xmlns="http://www.w3.org/2000/svg"
                                                    width="22" height="22" fill="currentColor" class="bi bi-dash-lg"
                                                    viewBox="-7 0 16 16">
                                                    <path fill-rule="evenodd"
                                                        d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z" />
                                                </svg>
                                            </td>
                                            <td class="align-middle">
                                                <svg th:if="${report.approvalFlg != null and report.approvalFlg}"
                                                    xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                                    fill="#1E90FF" class="bi bi-emoji-smile-fill" viewBox="0 0 16 16">
                                                    <path
                                                        d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8" />
                                                </svg>

                                                <svg th:if="${report.approvalFlg != null and !report.approvalFlg}"
                                                    xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="red"
                                                    class="bi bi-emoji-dizzy-fill" viewBox="0 0 16 16">
                                                    <path
                                                        d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M4.146 5.146a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 1 1 .708.708l-.647.646.647.646a.5.5 0 1 1-.708.708L5.5 7.207l-.646.647a.5.5 0 1 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 0-.708m5 0a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708.708l-.647.646.647.646a.5.5 0 1 1-.708.708l-.646-.647-.646.647a.5.5 0 1 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 0-.708M8 13a2 2 0 1 1 0-4 2 2 0 0 1 0 4" />
                                                </svg>

                                                <svg th:if="${report.approvalFlg == null}"
                                                    xmlns="http://www.w3.org/2000/svg" width="22" height="22"
                                                    fill="currentColor" class="bi bi-dash-lg" viewBox="-7 0 16 16">
                                                    <path fill-rule="evenodd"
                                                        d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z" />
                                                </svg>
                                            </td>
                                            <td class="align-middle">
                                                <svg th:if="${!#strings.isEmpty(report.comment)}"
                                                    xmlns="http://www.w3.org/2000/svg" width="45" height="24"
                                                    fill="currentColor" class="bi bi-chat-dots" viewBox="0 0 10 15">
                                                    <path
                                                        d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                                                    <path
                                                        d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125zm.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2z" />
                                                </svg>

                                                <svg th:if="${#strings.isEmpty(report.comment)}"
                                                    xmlns="http://www.w3.org/2000/svg" width="32" height="22"
                                                    fill="currentColor" class="bi bi-dash-lg" viewBox="-10 0 16 16">
                                                    <path fill-rule="evenodd"
                                                        d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z" />
                                                </svg>
                                            </td>
                                            <td class="align-middle">
                                                <a th:href="@{/reports/{id}/(id=${report.id})}"
                                                    class="btn btn-detail-custom">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22"
                                                        fill="currentColor" class="bi bi-file-earmark-text"
                                                        viewBox="1 0 16 16">
                                                        <path
                                                            d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
                                                        <path
                                                            d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z" />
                                                    </svg>
                                                    詳細
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <p class="mb-3 mt-1" th:text="'（ 全' + ${listSize} + '件 ）'"></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
</body>

</html>